

minimal-card {
    --box-shadow: none;
    --border-radius: 8px;
  }
  
  .minimal-item {
    --padding-start: 0;
    --padding-end: 0;
  }
  
  .minimal-card ion-card-header {
    --padding: 16px;
  }
  
  .minimal-card ion-card-title {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  ion-item {
    --border-color: transparent;
  }
  
  .submit-button {
    --border-radius: 20px; 
    --padding-top: 12px;
    --padding-bottom: 12px;
    --background: orange; 
    --color: white; 
  }
  
  .logo-image {
    width: 340px; 
    border-radius: 10px; 
  }
  a {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 20px;
  
  text-align: center;

}
