<!-- Menú lateral -->
<ion-menu contentId="main-content" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button class="admin-button" (click)="checkAdminCredentials()" color="danger">
    Admin
  </ion-button>
</ion-menu>

<!-- Contenido principal -->
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button> <!-- Este botón abre el menú -->
      </ion-buttons>
      <ion-title>Hola!</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-card>
      <img src="/assets/img/gokudios.gif" alt="Logo" />
      <ion-card-header>
        <ion-card-title>Iniciar sesión</ion-card-title>
        <ion-card-subtitle>Verificación asistencia</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Inicia sesión para escanear el código QR
      </ion-card-content>
    </ion-card>

    
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="user.username" name="username" required #id="ngModel"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="id.invalid && (id.dirty || id.touched)">
        <p>El ID es requerido</p>
      </ion-text>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="user.password" name="password" required #password="ngModel"></ion-input>
        <ion-button slot="end" fill="clear" (click)="togglePasswordVisibility()">
          <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-text color="danger" *ngIf="password.invalid && (password.dirty || password.touched)">
        <p>La contraseña es requerida</p>
      </ion-text>

      <ion-item>
        <ion-label>
          <a [routerLink]="['/contrasena']">¿Olvidaste tu contraseña?</a>
        </ion-label>
      </ion-item>

      
      <div class="button-container" style="display: flex; justify-content: space-between; margin-top: 20px;">
        <ion-button size="default" (click)="navigateToRegister()" color="danger">Registrarse</ion-button>
        <ion-button size="default" type="submit" [disabled]="loginForm.invalid" color="danger">Iniciar sesión</ion-button>
      </div>
    </form>
  </ion-content>
</div>
