ion-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
  }
  
  ion-card img {
    width: 340px; 
    border-radius: 10px; 
    
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    margin-top: 70px;

    ion-button {
      flex: 1;
      margin: 0 5px;
      
      &:first-child {
        margin-left: 0;
      }
      
      &:last-child {
        margin-right: 0;
      }
      
      --background: green;  
      --color: white;       
    }
  }

.eye-button {
  background-color: green; 
  border-radius: 50%; 
}

.eye-icon {
  color: white !important; 
}
